/* src/components/Tabs/MyQuotes/MyQuoteScreen.css */
.myQuote-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* const backgroundImage = `linear-gradient(to right, #f5f7fa, #c3cfe2)`; */

  background: linear-gradient(to right,#f5f7fa, #c3cfe2);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
}

.myQuote-content {
  max-width: 800px;
}

.myQuote-content h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.quote {
  margin-bottom: 2rem;
}

.original-quote, .refined-quote {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.refined-quote {
  font-style: italic;
  color: #ffe6e6;
}

.author {
  font-size: 1rem;
  font-weight: bold;
  color: #ea2424;
}
