/* src/components/Contributions/Contributions.css */

.contributions {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Light transparent background */
  margin: 20px; /* Add margin to create space around the component */
  border-radius: 8px; /* Add border radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.section-title {
  font-size: 2rem;
  margin-bottom: 15px;
}

.app-category {
  margin-bottom: 30px;
}

.app-category-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
