/* src/components/Contributions/Contributions.css */
.contributions {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Light transparent background */
}

.section-title {
  font-size: 2rem;
  margin-bottom: 15px;
}

.app-category {
  margin-bottom: 30px;
}

.app-category-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
